<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="/root/.nuget/packages" />
  </config>

  <packageSources>
    <clear />
    <!-- NuGet oficial -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Feed com pacotes .NET 9 preview -->
    <add key="dotnet9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
  </packageSources>
</configuration>